<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">
  <!-- System (log4j) properties -->
  <!-- Can be replaced by same named spring variables -->
  <Properties>
    <Property name="logOutputDirectory">/var/log/tbme-tv/eureka-server
    </Property>
    <Property name="logBackupDirectory">/var/log/tbme-tv/eureka-server/backups
    </Property>
  </Properties>

  <!-- Create appenders, configure log output -->
  <Appenders>
    <!-- Error log (level = 200) -->
    <RollingFile name="errorFile" fileName="${logOutputDirectory}/error.log"
      filePattern="${logBackupDirectory}/error-%d{MM-dd-yyyy}.log.gz"
      bufferedIO="true">
      <PatternLayout pattern="%-4d [%t] %-5p %c - %m%n" />
      <Filters>
        <ThresholdFilter level="error" />
      </Filters>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1"
          modulate="true" />
        <SizeBasedTriggeringPolicy size="100 KB" />
      </Policies>
    </RollingFile>
    <Async name="error">
      <AppenderRef ref="errorFile" />
    </Async>

    <!-- Console output (level = 400) -->
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%-4d [%t] %-5p %c - %m%n" />
      <Filters>
        <ThresholdFilter level="info" />
      </Filters>
    </Console>

    <!-- Verbose application log (level = Integer.MAX_VALUE) -->
    <RollingFile name="verboseFile"
      fileName="${logOutputDirectory}/application.log" filePattern="${logBackupDirectory}/application-%d{MM-dd-yyyy}.log.gz"
      bufferedIO="true">
      <PatternLayout pattern="%-4d [%t] %-5p %c - %m%n" />
      <Policies>
        <TimeBasedTriggeringPolicy interval="1"
          modulate="true" />
        <SizeBasedTriggeringPolicy size="100 KB" />
      </Policies>
    </RollingFile>
    <Async name="verbose">
      <AppenderRef ref="verboseFile" />
    </Async>
  </Appenders>

  <!-- Create loggers, no further configuration -->
  <Loggers>
    <Root level="all">
      <AppenderRef ref="error" />
      <AppenderRef ref="console" />
      <AppenderRef ref="verbose" />
    </Root>
  </Loggers>
</Configuration>