#app {
  display: flex;
}

.approval-form .control-label {
  margin-bottom: 10px;
}

.approval-form.link-group {
  display: flex;
}

/*
 * Mobile devices
 */
@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .approval-form {
    margin: auto;
  }
}

/*
 * Pads and Notebooks
 */
@media screen and (min-device-width: 480px)
and (max-device-width: 1024px) {
  .approval-form {
    margin: auto;
    max-width: 75vw;
  }
}

/*
 * Desktops
 */
@media screen and (min-width: 1024px) {
  .approval-form {
    margin: auto;
    max-width: 50vw;
  }
}

/*
 * UHD
 */
@media screen and (min-width: 1024px) {
  .container {
    max-width: 65vw;
  }
}